@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body{
	margin: 0;
	padding: 0;
	background: #24C6DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'PT Sans', sans-serif;
}
#cabecera{
	background-image: url(../images/fondopurpura.jpg);
	background-size: 100% 100%;
	height: 300px;
	margin-top:0%;
}

.container{
	position: relative;
	margin-top: 150px;
	width: 450px;
	height: auto;
	background: #39b5c0;
	border-radius: 5px;
}

.label{
	padding: 20px 60px;
	font-size: 24px;
	font-weight: bolder;
	color: #6930C3;
}

.login_form input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid rgb(64, 175, 190);
}

.errorInicio{
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #c12222;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
}


.login_form button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: rgb(222, 233, 236);
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #6930C3;
	border-radius: 3px;
	border: 1px solid #3949AB;
	transition: .5s;
}
.login_form button:hover{
	background: #151c6a;
}

.login_form{
	padding: 20px 40px;
}

.login_form .font{
	font-size: 23px;
	color: #6930C3;
	margin: 5px 0;
}

.login_form .font2{
	margin-top: 30px;
}


ul{
	margin: 0px;
}
li{
	display: inline-block;
	padding: 30px;
}
h1{
	text-align: center	;
	color: white;
	font-size: 70px;
}
.navegadores{
	color: white;
}
#logo{
	float: right;
	width: 142px;
}
#catalogo{
	border: solid;
	background-color: #6930C3;
	margin-left: 20%;
	margin-right: 20%;
	height: 570px;
	overflow-y: scroll;

}
.cursos{
	border: solid;
	background-color: #5390D9;
	height: 200px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom:5%;
}
.descripcionCurso{
	color: white;
	margin-left: 1%;
}

.btn-primary{
	background-color: #80FFDB;
	margin-right: 5%;
	margin-bottom: 5%;
}

main{
margin-bottom: 2%;
}

.reinicio{
	clear: both;
}

#colorFooter{
	color: black;
}
#volverAlHeader{
	animation: slideOutUp;
}

li{
	margin-top: 0%;
	padding-top: 1%;
	font-size: 	20px;
} 

.login_form #email_error,
.login_form #pass_error{
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #c12222;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}

.botonNav{
background: #4776E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
width: 100px;
}