body{
  background-image: url(../images/prueba.jpg);
}
h1{
  color: white;
}
.label{
	padding: 20px 60px;
	font-size: 24px;
	font-weight: bolder;
	color: whitesmoke;
}

.login_form input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid rgb(64, 175, 190);
}

.errorInicio{
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #c12222;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
}

#cabecera{
  background-color: #2B0DBF;
	height: 80px;
	margin-top:0%;
	
}
#logo{
	/*float: right;*/
	width: 142px;
}
.login_form button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: rgb(222, 233, 236);
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #6930C3;
	border-radius: 3px;
	border: 1px solid #3949AB;
	transition: .5s;
}
.login_form button:hover{
	background: #151c6a;
}

.login_form{
	padding: 20px 40px;
}

.login_form .font{
	font-size: 23px;
	color: whitesmoke;
	margin: 5px 0;
}

#formulariologin{
  padding-left: 100px;

}

#imglogin{
width: 75%;
animation: pulse;
animation-duration: 3s;
animation-iteration-count: infinite;
}
