@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body{
	margin: 0;
	padding: 0;
	background-image: url(../images/Fondo.png);
        background-size: 100% 100%;
	font-family: 'PT Sans', sans-serif;
}

ul{
  margin: 0px;
}

.titulo{
  padding-top: 120px;
}
h1{
	text-align: center;
	color: #fff;
	font-size: 70px;
	margin-left: 15%;
}

div.logotype{
	color: #fff;
}

#id_aprendisaje{
	margin-left: 1%;

}

main{
margin-bottom: 2%;
margin-left: 10%;
margin-right: 10%;
}

.reinicio{
	clear: both;
}

#colorFooter{
	color: black;
	font-size: 16px;
}
#volverAlHeader{
	animation: slideOutUp;
}


#curso{
    color: #fff;
    display: inline-block;
}
#marco1{
   
   background: linear-gradient(to right,#8570e2,#0927ce);
    padding: 20px 30px;
    width:100%;
    height: 820px;
    
}
.grid1{
    display: grid;
    width: 100%;
    height: 40%;
    grid-template-rows: 100%;
    grid-template-columns: 70% 30%;
}
.grid2{
    display: grid;
    width: 100%;
    height: 400px;
    grid-template-rows: 400px;
    grid-template-columns: 37% 37% 26%;
}
#marcoDescripcion{
    background-color: #514A9D;
    color: #000;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
}

#marcoDurCom{
    width: 100%;
    text-align: center;
    padding:20px 20px;
    
}
h3{
    font-size: 25px;
    color: #fff;
}
p{  
    padding-top: 8px;
    font-size: 16px;
    margin: 0px;
}
li{
    font-size: 20px;
}
#id_complejidad{
    display: inline-block;
    text-align: center;
}
#id_duracion{
    display: inline-block;
    text-align: center;
}
#marco4{
    width: 100%;
    height: 300px;
    padding: 4px;
}
.queAprenderas{
    height: 330px;
    padding: 3px;
    overflow: hidden;
    overflow-y: scroll;
}
.queAprenderas::-webkit-scrollbar{
    width: 2px;
    /*background: #24C6DC;*/
}

.conocimientosPrevios{
    height: 330px;
    padding: 3px;
    overflow: hidden;
    overflow-y: scroll;
}
.conocimientosPrevios::-webkit-scrollbar{
    width: 2px;
    /*background: #24C6DC;*/
}
#marco5{
    width: 100%;
    height: 300px;
    padding: 4px;
}


.botonNav{
    background: #4776E6;  
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    background: linear-gradient(to right, #8E54E9, #4776E6); 
    color: white;
    width: 110px;
}
.botonNav:hover{
	background: #7700BE;
}
.botonRegistro:hover{
	background: #7700BE;
}
#li{
	display: inline-block;
	padding: 30px;
	margin-top: 0%;
	padding-top: 1%;
	font-size: 20px;
}
.botonRegistro{
    text-align: center;
    color: #fff;
    font-size: 20px;
    background: #4776E6;  
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6); 
    background: linear-gradient(to right, #8E54E9, #4776E6);
    width: 170px;
    height: 50px;
    margin-top: 300px;
    margin-right: 20px;
    float:right;
}
footer{
    background-color: #2B0DBF;
    height: 110px;
}
.footerMenu{
    color: whitesmoke;
}
#derechoReservado {
	color: whitesmoke;
	margin-left: 10px;
}
#colorFooter{
    color: #fff;
}

@media Screen and (max-width: 800px){
    #marco1{
        background-color: #24C6DC;
         padding: 20px 30px;
         width:100%;
         height: 1000px;
         border: 2px solid #000;
     }
    h3{
        font-size: 20px;
    }
    .grid1{
        display: grid;
        grid-gap: 0px;
        width: 100%;
        height: 400px;
        grid-template-rows: 80% 20%;
        grid-template-columns: 100%;
    }
    .grid2{
        display: grid;
        width: 100%;
        height: 500px;
        grid-template-rows: 45% 45% 10%;
        grid-template-columns: 100%;
    }
    
    .grid1 #marcoDescripcion{
        background-color: #514A9D;
        color: #fff;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding: 20px;
    }
    #marco4{
        display: block;
        width: 100%;
        height: 100%;
        padding: 4px;
       
    }
    #marco5{
        display: block;
        width: 100%;
        height: 100%;
        padding: 4px;
        
    }
    .queAprenderas{
        height: 150px;
        padding: 3px;
        overflow: hidden;
        overflow-y: scroll;
    }
    .queAprenderas::-webkit-scrollbar{
        width: 2px;
        background: #514A9D;
    }
    
    .conocimientosPrevios{
        height: 150px;
        padding: 3px;
        overflow: hidden;
        overflow-y: scroll;
    }
    .conocimientosPrevios::-webkit-scrollbar{
        width: 2px;
        background: #514A9D;
    }
    .botonRegistro{
        text-align: center;
        color: #fff;
        background: #4776E6;  
        background: -webkit-linear-gradient(to right, #8E54E9, #4776E6); 
        background: linear-gradient(to right, #8E54E9, #4776E6);
        color: white;
        width: 200px;
        height: 40px;
        margin-left: 25%;
        margin-top: 0px;
        float:none; 
    }
    .item2{
        
    }
}
/*@media Screen and (max-width: 900px){
    h1{
	    color: white;
	    font-size: 40px;
	    margin-left: 15%;
    }
}*/
