@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  font-family: "Poppins", sans-serif;
  background: url(../images/Fondo.png) no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 90px);
  color: #fff;
  margin: 0px;
  padding-top: 90px;
}

.proceso {
 width: 100%;
 max-width: 550px;
  text-align: center;

}

.proceso-title {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}



.finalizado {
  width: 100%;
  max-width: 550px;
  text-align: center;
}

.finalizado-title {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}



.curso{
    background: #fff;
    height: 100px;
    display: flex;
    margin-bottom: 25px;
}

.menVacio{
    background: #fff;
    height: 100px;
    display: flex;
    margin-bottom: 25px;
    padding: 20;
    text-align: center;
}



.proceso h5{
	color: #2B0DBF;
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.finalizado h5{
	color: #2B0DBF;
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;
}




.texto{
	background: #fff;
	width: 65%;
}


.texto1{
	background: #fff;
	width: 100%;
}



.imagenPy{
	background: url(../images/Python.png) no-repeat;
	background-size: cover;
	background-position: center center;
	width: 35%;
	height: 100px;
	display: flex;

}

.imagenJa{
	background: url(../images/Java.png) no-repeat;
	background-size: cover;
	background-position: center center;
	width: 35%;
	height: 100px;
	display: flex;
}


.imagenHt{
	background: url(../images/Html.png) no-repeat;
	background-size: cover;
	background-position: center center;
	width: 35%;
	height: 100px;
	display: flex;

}


.imagen{
	background-size: cover;
	position: center center;
	width: 35%;
	height: 100px;
	display: flex;

}


.curso-img{
  width: 80px;
}

.curso h3{
	color: #2B0DBF;
	font-size: 20px;
	 margin-bottom: 5px;
	margin-top: 15px;
}


.curso h4{
	color: #2B0DBF;
	font-size: 20px;
	line-height: 45px;
}


button{
	padding: 5px;
	width: 50%;
	cursor: pointer;
}

.botoncito{
  background: #2B0DBF;
  border-style: none;
  color: #fff;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
 
}


.contenido{
    align-items: flex-start;	
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    height: calc(100vh - 304px);
    margin: 0 auto;
    
}


footer{
    align-items: flex-end;	
    background-color: #2B0DBF;
    height: 114px;
    width: 100%;
    font-size: 20px;
    color: red;
}

.footerMenu{
    color: red;
}
#derechoReservado {
	color: whitesmoke;
	margin-left: 0px;
	 font-size: 20px;
	font-family: 'PT Sans', sans-serif;
}



.horizontal-padding {
    padding-left: 70px;
    padding-right: 70px;
  }

.vertical-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

p{
	margin: 0px 0px 16px;
}

a#colorFooter{
	color: black;
}

.iconos{
	align-items: center;	
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
}


@media (max-width: 1290px) {


.contenido{

    height: calc(100vh - 264px);
    margin: 0 auto;
    
}

.horizontal-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

.vertical-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }


.proceso {
 width: 100%;
 max-width: 450px;
}

.proceso-title {
  font-size: 30px;
  margin-bottom: 15px;
}



.finalizado {
  width: 100%;
  max-width: 450px;
}

.finalizado-title {
  font-size: 30px;
  margin-bottom: 15px;
}

}



@media (max-width: 1000px) {

.contenido{	
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;	
    justify-content: space-between;   
}

.horizontal-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

.vertical-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }


.proceso {
 width: 100%;
 max-width: 550px;
 padding-bottom: 0px;
}

.proceso-title {
  font-size: 30px;
  margin-bottom: 15px;
}



.finalizado {
  width: 100%;
  max-width: 550px;
}

.finalizado-title {
  font-size: 30px;
  margin-bottom: 15px;
}


}



@media (max-width: 580px) {

.contenido{	
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;	
      justify-content: space-between;   
}

.horizontal-padding {
    padding-left: 10px;
    padding-right: 10px;
  }

.vertical-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }


.proceso {
 width: 100%;
 max-width: 550px;
 padding-bottom: 20px;
}

.proceso-title {
  font-size: 23px;
  margin-bottom: 12px;
}



.finalizado {
  width: 100%;
  max-width: 550px;
}

.finalizado-title {
  font-size: 23px;
  margin-bottom: 12px;
}



.proceso h5{
	text-align: center;
	font-size: 15px;
	line-height: 45px;
} 

.finalizado h5{
	text-align: center;
	font-size: 15px;
	line-height: 45px;
} 
}

