@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body{
	margin: 0;
	padding: 0;
	background: #24C6DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'PT Sans', sans-serif;
}
#cabecera{
	background-image: url(../images/fondopurpura.jpg);
	background-size: 100% 100%;
	height: 220px;
	margin-top:0%;
}
ul{
	margin: 0px;
}
li{
	display: inline-block;
	padding: 30px;
}
h1{
	text-align: center;
	color: white;
	font-size: 70px;
	margin-left: 15%;
}
.navegadores{
	color: white;
}
#logo{
	width: 142px;
}
#catalogo{
	border: solid;
	background-color: #6930C3;
	/*margin-left: 20%;
	margin-right: 20%;*/
	height: 570px;
	overflow-y: scroll;

}
.cursos{
	border: solid;
	background-color: #5390D9;
	height: 200px;
	/*margin-left: 5%;
	margin-right: 5%;*/
	margin-top: 5%;
	/*margin-bottom:5%;*/
}
.descripcionCurso{
	color: white;
	margin-left: 1%;
}
h2{
	margin-left: 20%;
	color: white;
}
.btn-primary{
	background-color: #80FFDB;
	margin-right: 5%;
	margin-bottom: 5%;
	color: blue;
	
}
#carrusel{
	width: 950px;
}
main{
margin-bottom: 2%;
}

.reinicio{
	clear: both;
}
#colorFooter{
	color: black;
}
#volverAlHeader{
	animation: slideOutUp;
}
/*#barraNavegacion{
	margin-top: 0%;
}*/

li{
	margin-top: 0%;
	padding-top: 1%;
	font-size: 	20px;
} 

.botonNav{
background: #4776E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
width: 100px;
}


