@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body{
  margin: 0;
  background-image: url(../images/Fondo.png);
  background-size: 100% 100%;
  font-family: 'PT Sans', sans-serif;
}

div#cabecera.container-fluid{
	padding-top: 120px;
}

ul{
	margin: 0px;
}
li{
	display: inline-block;
	padding: 30px;
}
h1{
	text-align: center;
	color: white;
	font-size: 70px;
	margin-left: 15%;
}
.navegadores{
	color: white;
}

#catalogo{
	border: solid;
	background: linear-gradient(to right,#8570e2,#0927ce);
	height: 570px;
	overflow-y: scroll;

}
.cursos{
	border: solid;
	background-color: #5390D9;
	height: 305px;
	margin-top: 5%;

}
.descripcionCurso{
	color: black;
	margin-left: 1%;
	font-size: 20px;
}
h2{
	margin-left: 20%;
	color: white;
}
.btn-primary{
	background-color: #2B0DBF;
	margin-right: 5%;
	margin-bottom: 5%;
	color: #fff;
	
}

#carrusel{
        position: relative;
        z-index: 0;
	width: 950px;
}

div.logotype{
	color: #fff;
}
main{
margin-bottom: 2%;
}

.reinicio{
	clear: both;
}

#colorFooter{
	color: whitesmoke;
}
#volverAlHeader{
	animation: slideOutUp;
}

li{
	margin-top: 0%;
	padding-top: 1%;
	font-size: 	20px;
} 

p{
	padding-top: 8px;
	margin: 0px;	
}

footer{
    background-color: #2B0DBF;
    height: 110px;
}

.footerMenu{
    color: whitesmoke;
}

a#colorFooter{
  color: black;
}

#HTMLcatalogo{
	background-image:url(../images/htmlCatalogo.jpg);
	background-size: 100% 100%;
	backdrop-filter: blur(6px);

}
#javaCatalogo{
	background-image:url(../images/javaCatalogo.jpg);
	background-size: 100% 100%;
	backdrop-filter: blur(6px);
}
#pythonCatalogo{
background-image:url(../images/pythonCatalogo.png);
	background-size: 100% 100%;
}
#derechoReservado{
	color: whitesmoke;
	margin-left: 10px;
}